# Pre Vs. Post 5G Performance Insights and KPI Analysis

- Domain: Telecom
- Function: Executive Management

## Understanding the Business Persona

After launching 5G in May 2022, the company saw a drop in active users and slower revenue growth. Management wants to compare key metrics from before and after the 5G launch to understand what went wrong. They aim to find insights and improve their internet plans to bring back users and boost growth.

## Project Goals

- Compare KPIs before and after the 5G launch to measure performance changes.
- Identify reasons behind the drop in active users and revenue growth.
- Uncover trends and patterns in user behavior post-5G launch.
- Evaluate the effectiveness of current internet plans.
- Suggest data-driven strategies to recover user engagement and improve revenue.

### Table Schema
![Table Schema](Data_Model.png)

### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings 
warnings.filterwarnings('ignore')

### Load the Dataset

In [2]:
dim_date = pd.read_csv('dim_date.csv')
dim_date.head(3)

        date month_name before/after_5g  time_period
0  01-Jan-22        Jan       Before 5G            1
1  01-Feb-22        Feb       Before 5G            2
2  01-Mar-22        Mar       Before 5G            3

In [3]:
dim_plan = pd.read_csv('dim_plan.csv',header=1)
dim_plan.head(3)

  plan                                   plan_description
0   p1  Smart Recharge Pack (2 GB / Day Combo For 3 mo...
1   p2  Super Saviour Pack (1.5 GB / Day Combo For 56 ...
2   p3        Elite saver Pack (1 GB/ Day) Valid: 28 Days

In [4]:
dim_cities = pd.read_csv('dim_cities.csv')
dim_cities.head(3)

   city_code city_name
0     400001    Mumbai
1     110001     Delhi
2     700001   Kolkata

In [5]:
fact_atliqo_metrics = pd.read_csv('fact_atliqo_metrics.csv')
fact_atliqo_metrics.head(3)

,date,city_code,company,atliqo_revenue_crores,arpu,active_users_lakhs,unsubscribed_users_lakhs
0,01-Jan-22,400001,Atliqo,60.69,192,31.61,1.90
1,01-Jan-22,110001,Atliqo,42.71,175,24.41,1.31
2,01-Jan-22,700001,Atliqo,36.91,175,21.09,1.25

In [6]:
fact_market_share = pd.read_csv('fact_market_share.csv')
fact_market_share.head(3)

        date  city_code  tmv_city_crores company  ms_pct
0  01-Jan-22     400001           286.29  Atliqo   21.20
1  01-Jan-22     110001           241.59  Atliqo   17.68
2  01-Jan-22     700001           222.19  Atliqo   16.61

In [7]:
fact_plan_revenue = pd.read_csv('fact_plan_revenue.csv')
fact_plan_revenue.head(3)

        date  city_code plans  plan_revenue_crores
0  01-Jan-22     400001    p1                 6.26
1  01-Jan-22     110001    p1                 4.58
2  01-Jan-22     700001    p1                 4.29

### Understand the Data

#### Shape

In [8]:
dataframes = [dim_date, dim_plan, dim_cities, fact_atliqo_metrics, fact_market_share, fact_plan_revenue]
names = ['dim_date', 'dim_plan', 'dim_cities', 'fact_atliqo_metrics', 'fact_market_share', 'fact_plan_revenue']

for name, df in zip(names, dataframes):
    print(f"{name} : {df.shape}")
    print("-" * 30)

dim_date : (8, 4)
------------------------------
dim_plan : (13, 2)
------------------------------
dim_cities : (15, 2)
------------------------------
fact_atliqo_metrics : (120, 7)
------------------------------
fact_market_share : (600, 5)
------------------------------
fact_plan_revenue : (1200, 4)
------------------------------

#### Data Types

In [9]:
for name, df in zip(names, dataframes):
    print(f"{name} :")
    print(df.dtypes)
    print("-" * 30)

dim_date :
date               object
month_name         object
before/after_5g    object
time_period         int64
dtype: object
------------------------------
dim_plan :
plan                object
plan_description    object
dtype: object
------------------------------
dim_cities :
city_code     int64
city_name    object
dtype: object
------------------------------
fact_atliqo_metrics :
date                         object
city_code                     int64
company                      object
atliqo_revenue_crores       float64
arpu                          int64
active_users_lakhs          float64
unsubscribed_users_lakhs    float64
dtype: object
------------------------------
fact_market_share :
date                object
city_code            int64
tmv_city_crores    float64
company             object
ms_pct             float64
dtype: object
------------------------------
fact_plan_revenue :
date                    object
city_code                int64
plans                   object
plan_revenue_crores    float64
dtype: object
------------------------------

#### Missing Values

In [10]:
for name, df in zip(names, dataframes):
    print(f"{name} :")
    print(df.isnull().sum())
    print("-" * 30)

dim_date :
date               0
month_name         0
before/after_5g    0
time_period        0
dtype: int64
------------------------------
dim_plan :
plan                0
plan_description    0
dtype: int64
------------------------------
dim_cities :
city_code    0
city_name    0
dtype: int64
------------------------------
fact_atliqo_metrics :
date                        0
city_code                   0
company                     0
atliqo_revenue_crores       0
arpu                        0
active_users_lakhs          0
unsubscribed_users_lakhs    0
dtype: int64
------------------------------
fact_market_share :
date               0
city_code          0
tmv_city_crores    0
company            0
ms_pct             0
dtype: int64
------------------------------
fact_plan_revenue :
date                   0
city_code              0
plans                  0
plan_revenue_crores    0
dtype: int64
------------------------------

In [11]:
dataframes = [dim_date, fact_atliqo_metrics, fact_market_share, fact_plan_revenue]
names = ['dim_date', 'fact_atliqo_metrics', 'fact_market_share', 'fact_plan_revenue']

for name, df in zip(names, dataframes):
    # Convert 'date' column to datetime if it exists
    if 'date' in df.columns:
        df['date'] = pd.to_datetime(df['date'], errors='coerce')
print("Object columns converted to Date Time ✅")

Object columns converted to Date Time ✅

In [12]:
for name, df in zip(names, dataframes):
    # Convert object columns to category
    for col in df.select_dtypes(include='object').columns:
        df[col] = df[col].astype('category')
    
print("Object columns converted to Category ✅")

Object columns converted to Category ✅

In [13]:
# cheack data type of date column
for name, df in zip(names, dataframes):
    print(f"{name} :")
    print(df.dtypes)
    print("-" * 30)

dim_date :
date               datetime64[ns]
month_name               category
before/after_5g          category
time_period                 int64
dtype: object
------------------------------
fact_atliqo_metrics :
date                        datetime64[ns]
city_code                            int64
company                           category
atliqo_revenue_crores              float64
arpu                                 int64
active_users_lakhs                 float64
unsubscribed_users_lakhs           float64
dtype: object
------------------------------
fact_market_share :
date               datetime64[ns]
city_code                   int64
tmv_city_crores           float64
company                  category
ms_pct                    float64
dtype: object
------------------------------
fact_plan_revenue :
date                   datetime64[ns]
city_code                       int64
plans                        category
plan_revenue_crores           float64
dtype: object
------------------------------